.footer {
  display: flex;
  width: 1140px;
  height: 150px;
  margin-top: auto;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;
}

.footer_title {
  color: #101010;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  width: 1054px;
  height: 82px;
  margin: auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82px;
}

.link {
  text-decoration: none;
}

.footer_text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
}

.footer_language {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #101010;
  text-decoration: none;
}

.footer_language_active {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffa542;
  text-decoration: none;
}

.footer_row {
  display: flex;
  align-items: center;
}

.footer_row * {
  margin: 0px 9px;
}

.footer_row *:first-child {
  margin-left: 0px;
}

.footer_row *:last-child {
  margin-right: 0px;
}

.footer_row:last-child {
  margin-top: 35px;
}

.footer_link-icon {
  width: 30px;
}

@media (max-width: 1140px) {
  .footer_content {
    width: 674px;
  }

  .footer {
    width: 730px;
  }
}
